body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

/* HEADER */
.header {
    background: #fff;
}
.header .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #fff;
}

.header .logo {
    font-size: 18px;
    text-decoration: none;
    color: rgb(121, 121, 121);
    padding: 30px;
}

.header .nav {
    margin: auto 0;
    margin-right: 30px;
}

.header .nav ul {
    display: flex;
}

.header .nav ul li + li {
    margin-left: 30px;
}

.header .nav ul li a {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(121, 121, 121);
    transition: all .1s ease;
}

.header .nav ul li a:hover {
    color: #1abc9c;
}

/* SEÇÃO 01 */
.s01 {
    background: #1abc9c;
}

.s01 .container {
    text-align: center;
    padding: 50px;
}

.s01 .container h1 {
    font-size: 28px;
    color: #fff;
}

.s01 .container img {
    max-width: 100%;
    border-radius: 50%;
    margin: 50px 0;
}

/* SEÇÃO 02 */
.s02 {
    background: #474e5d;    
}

.s02 .container {
    color: #fff;
    text-align: center;
    padding: 50px;
}

.s02 .container h1 {
    font-size: 28px;
    margin-bottom: 50px;
}

.s02 .container p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.s02 .container .btn {
    font-size: 22px;
    padding: 15px 30px;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: all .3s ease;
}

.s02 .container .btn:hover {
    background: #ccc;
}

/* SEÇÃO 03 */
.s03 {
    background: #fff;
}

.s03 .container {
    padding: 50px 0;
    text-align: center;
    color: rgb(121, 121, 121);
}

.s03 .container h1 {
    font-size: 28px;
    margin-bottom: 50px;
}

.s03 .container .cards ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.s03 .container .cards ul li img {
    width: 100%;
}

.s03 .container .cards ul li p {
    font-size: 18px;
    width: 300px;
    margin-bottom: 10px;
}

/* RODAPÉ */
.rodape {
    background: #2f2f2f;
}

.rodape .container p {
    text-align: center;
    font-size: 18px;
    padding: 50px 0;
    color: #fff;
}

/* MOBILE */

@media (max-width: 760px) {

    .header .container {
        flex-direction: column;
        text-align: center;
    }

    .header .nav ul {
        margin: 0;
    }

    .header .nav {
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .s03 .container .cards ul {
        margin: 0 90px;
    }

    .s03 .container .cards ul li:not(:last-child) {
        margin-bottom: 30px;
    }
}